/* your code */
table{
	border:1px solid #f4f4f4;
	border-radius:8px;
	border-collapse: collapse;
	overflow:hidden;
}

table tr:nth-child(even){
	background-color:#dddddd;
}

thead th{
	background-color:#215a8e;
	color:white;
}

table td, table th{
	padding:6px 20px;
}